<div class="page-container">
    <div class="sidebar">
        <h3>Categories</h3>
        <ul>
            <ng-container *ngFor="let category of categoryTree">
                <ng-container *ngTemplateOutlet="renderCategory; context: { category: category }"></ng-container>
            </ng-container>
        </ul>

        <ng-template #renderCategory let-category="category">
            <li>
                <span (click)="filterProductsByCategory(category.id)">
                    {{ category.name }}
                </span>
                <ul *ngIf="category.children && category.children.length > 0">
                    <ng-container *ngFor="let child of category.children">
                        <ng-container *ngTemplateOutlet="renderCategory; context: { category: child }"></ng-container>
                    </ng-container>
                </ul>
            </li>
        </ng-template>
    </div>




    <div class="main-content">
        <h2>Product List</h2>

        <div class="product-grid">
            <div *ngFor="let product of filteredProducts" class="product-card">
                <h3 (click)="navigateToDetails(product)">{{ product.name }}</h3>
                <p>{{ product.price }} €</p>
            </div>
        </div>
    </div>
</div>