<div class="retail-container">
    <div class="header">
        <h1 (click)="backToMainPage()">retail marketplace</h1>
        <h1 (click)="viewVehicles()">Vehicle Marketplace</h1>


        <button class="messages" (click)="goMessages()">Messages</button>


        <button class="logout-button" (click)="logout()">Logout</button>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search products..." [(ngModel)]="searchTerm" (input)="filterProducts()"
            class="search-input" />
        <button class="showAddProductButton" (click)="navigateToAddProduct()">Add Product</button>
    </div>


    <router-outlet></router-outlet>
</div>