<div class="retail-container">
    <div class="header">
        <h1>Retail Marketplace</h1>
        <button class="logout-button" (click)="logout()">Logout</button>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search products..." [(ngModel)]="searchTerm" (input)="filterProducts()"
            class="search-input" />

        <button *ngIf="showAddProductButton" (click)="navigateToAddProduct()">Add Product</button>
    </div>

    <app-product-list></app-product-list>
</div>