<div class="product-details">
    <div class="product-images">
        <img *ngFor="let image of product.images" [src]="image" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p><strong>Price:</strong> {{ product.price }} €</p>


        <p *ngIf="product.status !== 'available'">
            <strong>Status:</strong> {{ product.status | titlecase }}
        </p>


        <button (click)="goBack()">Back to products</button>
        <button *ngIf="isProductOwner()" (click)="deleteProduct()" class="btn btn-danger">
            Delete Product
        </button>
        <select id="changeStatus" name="status" class="form-control" *ngIf="isProductOwner()"
            [(ngModel)]="product.status" (change)="onStatusChange($event)" required>
            <option [value]="'available'">Available</option>
            <option [value]="'reserved'">Reserved</option>
            <option [value]="'sold'">Sold</option>
        </select>

    </div>
</div>

<div *ngIf="!isProductOwner()" class="chat-popup">
    <span class="close-btn" (click)="closeChat()">×</span>
    <h3>Write to seller: </h3>

    <div class="chat-input-container">
        <input #chatInput type="text" placeholder="Type a message..." />
        <button (click)="sendMessage(chatInput)">Send</button>
    </div>
</div>